<body>
    <form action='/upload/imageupload' method='POST' enctype="multipart/form-data">
    <input type='file' name='imagefile'>
    <button type='submit'>Upload</button>
    </form>
    <br><br>
    <a href='/upload/show'>Show</a>

    
</body>